<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Banhazo - Software House Website" />
    <meta name="keywords" content="HTML, CSS" />
    <meta
      name="author"
      content="ryukyung, junghyunlee0922, ksyee ,lanuioe, lin0211, SEUNGJUNHWANG"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./index.css" />
    <title>Banhazo</title>
  </head>
  <body>
    <header class="header">
      <div class="header-inner">
        <h1 class="header-logo">
          <a href="" class="header-logo-link"
            ><img src="../../images/jsl/logo.png" alt="developers"
          /></a>
        </h1>
        <nav class="header-nav">
          <ul class="header-nav-ul">
            <li class="header-li"><a href="">About us</a></li>
            <li class="header-li"><a href="">Services</a></li>
            <li class="header-li"><a href="">Case Studies</a></li>
            <li class="header-li"><a href="">Blog</a></li>
            <li class="header-li"><a href="">How it Works</a></li>
            <li class="header-li"><a href="">Hire</a></li>
          </ul>
        </nav>
        <a href="" class="header-button">Contact us</a>
      </div>
    </header>
    <section class="intro">
      <div class="intro-start">
        <h2 class="sr-only">intro</h2>
        <div class="intro-text">
          <p class="intro-text-headline">
            Great <span class="intro-headline-product">Product</span> is <br />
            <b class="intro-headline-built">built by great</b>
            <span class="intro-headline-teams">teams</span>
          </p>
          <p class="intro-text-body">
            We help build and manage a team of world-class developers to bring
            your vision to life
          </p>
          <a href="" class="intro-start-btn">Let's get started!</a>
        </div>
        <figure class="intro-start-image">
          <img
            src="../../images/jsl/Hero-Wrapper__image.png"
            alt="working team"
          />
        </figure>
      </div>
      <div class="intro-offer">
        <h2 class="intro-offer-headline">Services we offer</h2>
        <div class="offer-cardbox-wrapper">
          <div class="offer-cardbox">
            <div class="offer-card">
              <figure class="card-icon-wrapper">
                <img
                  src="/likelion-8-banhazo/images/jsl/offer-icon-mobile.png"
                  alt=""
                  class="card-icon"
                />
              </figure>
              <h3 class="card-headline">Mobile App Development</h3>
              <p class="card-text">
                A Website is an extension of yourself and we can help you to
                express it properly. Your website is your number one marketing
                asset because we live in a digital age.
              </p>
            </div>
            <div class="offer-card">
              <figure class="card-icon-wrapper">
                <img
                  src="/likelion-8-banhazo/images/jsl/offer-icon-mobile.png"
                  alt=""
                  class="card-icon"
                />
              </figure>
              <h3 class="card-headline">Mobile App Development</h3>
              <p class="card-text">
                A Website is an extension of yourself and we can help you to
                express it properly. Your website is your number one marketing
                asset because we live in a digital age.
              </p>
            </div>
            <div class="offer-card view">
              <figure class="card-icon-wrapper">
                <img
                  src="/likelion-8-banhazo/images/jsl/offer-web.png"
                  alt=""
                  class="card-icon"
                />
              </figure>
              <h3 class="card-headline">Web Design & Development</h3>
              <p class="card-text">
                A Website is an extension of yourself and we can help you to
                express it properly. Your website is your number one marketing
                asset because we live in a digital age.
              </p>
            </div>
            <div class="offer-card">
              <figure class="card-icon-wrapper">
                <img
                  src="/likelion-8-banhazo/images/jsl/offer-dashboard.png"
                  alt=""
                  class="card-icon"
                />
              </figure>
              <h3 class="card-headline">Software Testing Service</h3>
              <p class="card-text">
                A Website is an extension of yourself and we can help you to
                express it properly. Your website is your number one marketing
                asset because we live in a digital age.
              </p>
            </div>
            <div class="offer-card">
              <figure class="card-icon-wrapper">
                <img
                  src="/likelion-8-banhazo/images/jsl/offer-icon-mobile.png"
                  alt=""
                  class="card-icon"
                />
              </figure>
              <h3 class="card-headline">Software Testing Service</h3>
              <p class="card-text">
                A Website is an extension of yourself and we can help you to
                express it properly. Your website is your number one marketing
                asset because we live in a digital age.
              </p>
            </div>
          </div>
        </div>
        <div class="slide-btns-nums">
          <div class="card-slide-btns">
            <div class="slide-btn"></div>
            <div class="slide-btn"></div>
            <div class="slide-btn selected-btn"></div>
            <div class="slide-btn"></div>
            <div class="slide-btn"></div>
          </div>
          <div class="card-slide-nums">
            <div class="slide-num01">01</div>
            <div class="slide-num-box">
              <div class="num-box-bar"></div>
            </div>
            <div class="slide-num05">05</div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
