<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/components/bhj/css/reset.css">
  <link rel="stylesheet" href="/components/bhj/css/style.css">
  <title>bhj</title>
</head>
<body>
  <section class="develop-method">
    <h2 class="title">How development <b>through Alcaline works</b></h2>
    <ul class="method-container inner">
      <li class="method1">
        <h3 class="method-headline">
          <span class="headline-number">&#35;1</span>
          Assemble the right team
        </h3>
        <p class="method-content">We handle all aspects of vetting and choosing the right team that you don't have the time, expertise, or desire to do.</p>
      </li>
      <li class="method2">
        <h3 class="method-headline">
          <span class="headline-number">&#35;2</span>
          Sprint planning
        </h3>
        <p class="method-content">Sprint roadmap is a collective planning effort. Team members collaborate to clarify items and ensure shared understanding.</p>
      </li>
      <li class="method3">
        <h3 class="method-headline">
          <span class="headline-number">&#35;3</span>
          Tech architecture
        </h3>
        <p class="method-content">We break monolithic apps into microservices. Decoupling the code allows teams to move faster and more independently</p>
      </li>
      <li class="method4">
        <h3 class="method-headline">
          <span class="headline-number">&#35;4</span>
          Standups &#38; weekly demos
        </h3>
        <p class="method-content">Standups, weekly demos, and weekly reviews make sure everyone is on the same page and can raise their concerns.</p>
      </li>
      <li class="method5">
        <h3 class="method-headline">
          <span class="headline-number">&#35;5</span>
          Code reviews
        </h3>
        <p class="method-content">Code reviews before release help detect issues like memory leaks, file leaks, performance signs, and general bad smells</p>
      </li>
      <li class="method6">
        <h3 class="method-headline">
          <span class="headline-number">&#35;6</span>
          Iterative delivery
        </h3>
        <p class="method-content">We divide the implementation process into several checkpoints rather than a single deadline.</p>
      </li>
    </ul>
  </section>
</body>
</html>