<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>component3</title>
</head>

<body>
  <section class="main">
    <img src="/images/hsj/Deco-line.png" alt="" />
    <h2 class="heading">Why cutomers love <br /><b>working with us</b></h2>
    <p class="description">Without any doubt I recommend Alcaline Solutions as one of the best web design and digital
      marketing agencies.
      One of the best agencies I’ve came across so far. Wouldn’t be hesitated to introduce their work to someone else.
    </p>
    <ul class="intro-container">
      <li><img src="" alt="" /></li>
      <li><img src="" alt="" /></li>
      <li><img src="" alt="" /></li>
      <li><img src="" alt="" /></li>
      <li><img src="" alt="" /></li>
    </ul>
  </section>
  <!--case-studies에 grid(5x2) 사용해보기 -->
  <section class="case-studies">
    <img src="/images/hsj/Deco-line.png" alt="" />
    <p>Our recent <br /><b>Case studies</b></p>
    <div>
      <img src="" alt="" />
      <article class="article1">
        <p>Website Design for SCFC Canada</p>
        <span>Born out of a vision, a single-minded objective that puts service before anything else, Swift Clearance
          and Forwarding Corp. surging forth to deliver the best services in the shipping and logistics scenario. Its
          meteoric rise stems out of a solid foundation. The management boasts of over 20 years of rich and varied
          experience in the shipping and freight forwarding industry.</span>
        <a href="/">Read more</a>
      </article>
    </div>

    <div>
      <img src="" alt="" />
      <article class="article2">
        <p>Website Design for SCFC Canada</p>
        <span>Born out of a vision, a single-minded objective that puts service before anything else, Swift Clearance
          and Forwarding Corp. surging forth to deliver the best services in the shipping and logistics scenario. Its
          meteoric rise stems out of a solid foundation. The management boasts of over 20 years of rich and varied
          experience in the shipping and freight forwarding industry.</span>
        <a href="/">Read more</a>
      </article>
    </div>

    <div>
      <img src="" alt="" />
      <article class="article3">
        <p>Website Design for SCFC Canada</p>
        <span>Born out of a vision, a single-minded objective that puts service before anything else, Swift Clearance
          and Forwarding Corp. surging forth to deliver the best services in the shipping and logistics scenario. Its
          meteoric rise stems out of a solid foundation. The management boasts of over 20 years of rich and varied
          experience in the shipping and freight forwarding industry.</span>
        <a href="/">Read more</a>
      </article>
    </div>

  </section>
</body>

</html>