<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>component3</title>
  <link rel="stylesheet" href="./page3.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
</head>

<body>
  <section class="hsj-main">
    <div class="comma1">
      <img src="./../../images/hsj/comma-right.png" alt="" />
    </div>
    <div class="comma2">
      <img src="./../../images/hsj/comma-left.png" alt="" />
    </div>
    <div class="deco-line"></div>
    <h2 class="heading">Why cutomers love <br /><b>working with us</b></h2>
    <p class="description">Without any doubt I recommend Alcaline Solutions as one of the best web design and digital
      marketing agencies.
      One of the best agencies I’ve came across so far. Wouldn’t be hesitated to introduce their work to someone else.
    </p>
    <ul class="intro-container">
      <li><img src="./../../images/hsj/person1.png" alt="" /></li>
      <li><img src="./../../images/hsj/person2.png" alt="" /></li>
      <li><img src="./../../images/hsj/person3.png" alt="" /></li>
      <li><img src="./../../images/hsj/person4.png" alt="" /></li>
      <li><img src="./../../images/hsj/person5.png" alt="" /></li>
    </ul>
  </section>

  <div class="wrapper">
    <div class="deco-line"></div>
    <p class="heading">Our recent <br /><b>Case studies</b></p>
  </div>
  <div class="wrapper2">
    <div class="sec1">
      <div class="img1">
        <img src="./../../images/hsj/main-image1.svg" alt="" />
      </div>
      <article class="article1">
        <p>Website Design for SCFC Canada</p>
        <span>Born out of a vision, a single-minded objective that puts service before anything else, Swift Clearance
          and Forwarding Corp. surging forth to deliver the best services in the shipping and logistics scenario. Its
          meteoric rise stems out of a solid foundation. The management boasts of over 20 years of rich and varied
          experience in the shipping and freight forwarding industry.</span>
        <a href="/" class="read1">Read more</a>
      </article>
    </div>
    <div class="sec2">
      <div class="img2">
        <img src="./../../images/hsj/main-image2.svg" alt="" />
      </div>
      <article class="article2">
        <p>Website Design for SCFC Canada</p>
        <span>Born out of a vision, a single-minded objective that puts service before anything else, Swift Clearance
          and Forwarding Corp. surging forth to deliver the best services in the shipping and logistics scenario. Its
          meteoric rise stems out of a solid foundation. The management boasts of over 20 years of rich and varied
          experience in the shipping and freight forwarding industry.</span>
        <a href="/" class="read2">Read more</a>
      </article>
    </div>
    <div class="sec3">
      <div class="img3">
        <img src="./../../images/hsj/main-image3.svg" alt="" />
      </div>
      <article class="article3">
        <p>Website Design for SCFC Canada</p>
        <span>Born out of a vision, a single-minded objective that puts service before anything else, Swift Clearance
          and Forwarding Corp. surging forth to deliver the best services in the shipping and logistics scenario. Its
          meteoric rise stems out of a solid foundation. The management boasts of over 20 years of rich and varied
          experience in the shipping and freight forwarding industry.</span>
        <a href="/" class="read3">Read more</a>
      </article>
    </div>
  </div>
</body>

</html>