<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" />
    <title>ksy</title>
    <link
      rel="preconnect"
      href="https://fonts.googleapis.com" />
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet" />
    <link
      rel="stylesheet"
      href="./main.css" />
    <script
      src="./index.js"
      defer></script>
  </head>
  <body>
    <section class="dev-approach">
      <h2 class="dev-approach-title">
        <p>Our design and</p>
        <p>development approach</p>
      </h2>
      <div class="card-wrap">
        <ul>
          <li class="card">
            <div class="icon bg1">
              <img
                src="./images/rocket-icon.png"
                alt="rocket" />
            </div>
            <div class="card-text-box">
              <h3 class="card-title">UX driven engineering</h3>
              <p class="card-description">
                Unlike other companies, we are a UX first development company.
                Projects are driven by designers and they make sure design and
                experiences translate to code.
              </p>
            </div>
          </li>
          <li class="card">
            <div class="icon bg2">
              <img
                src="./images/code-icon.png"
                alt="code" />
            </div>
            <div class="card-text-box">
              <h3 class="card-title">developing shared understanding</h3>
              <p class="card-description">
                Unlike other companies, we are a UX first development company.
                Projects are driven by designers and they make sure design and
                experiences translate to code.
              </p>
            </div>
          </li>
          <li class="card">
            <div class="icon bg3">
              <img
                src="./images/heart-rate-icon.png"
                alt="heart rate" />
            </div>
            <div class="card-text-box">
              <h3 class="card-title">proven experience and expertise</h3>
              <p class="card-description">
                Unlike other companies, we are a UX first development company.
                Projects are driven by designers and they make sure design and
                experiences translate to code.
              </p>
            </div>
          </li>
          <li class="card">
            <div class="icon bg4">
              <img
                src="./images/shield-icon.png"
                alt="shield" />
            </div>
            <div class="card-text-box">
              <h3 class="card-title">security & intellectual property (IP)</h3>
              <p class="card-description">
                Unlike other companies, we are a UX first development company.
                Projects are driven by designers and they make sure design and
                experiences translate to code.
              </p>
            </div>
          </li>
          <li class="card">
            <div class="icon bg5">
              <img
                src="./images/success-icon.png"
                alt="success" />
            </div>
            <div class="card-text-box">
              <h3 class="card-title">code reviews</h3>
              <p class="card-description">
                Unlike other companies, we are a UX first development company.
                Projects are driven by designers and they make sure design and
                experiences translate to code.
              </p>
            </div>
          </li>
          <li class="card">
            <div class="icon bg6">
              <img
                src="./images/lock-icon.png"
                alt="lock" />
            </div>
            <div class="card-text-box">
              <h3 class="card-title">quality assurance & testing</h3>
              <p class="card-description">
                Unlike other companies, we are a UX first development company.
                Projects are driven by designers and they make sure design and
                experiences translate to code.
              </p>
            </div>
          </li>
        </ul>
      </div>
    </section>
    <section class="tech-stack">
      <h2 class="dev-approach-title">
        <p>Our</p>
        <p>tech stack</p>
      </h2>
      <ul class="tab-bar">
        <li class="tab">
          <button class="is--active">backend</button>
        </li>
        <li class="tab"><button>frontend</button></li>
        <li class="tab"><button>databases</button></li>
        <li class="tab uppercase"><button>cms</button></li>
        <li class="tab"><button>CloudTesting</button></li>
        <li class="tab"><button>DevOps</button></li>
      </ul>
      <div class="panel">
        <ul class="panel-items">
          <li>
            <img
              src="./images/nodejs.svg"
              alt="nodejs" />
          </li>
          <li>
            <img
              src="./images/php.svg"
              alt="php" />
          </li>
          <li>
            <img
              src="./images/mysql.png"
              alt="mysql" />
          </li>
          <li>
            <img
              src="./images/java.svg"
              alt="java" />
          </li>
          <li>
            <img
              src="./images/dotnet.svg"
              alt="dot not" />
          </li>
          <li>
            <img
              src="./images/python.svg"
              alt="python" />
          </li>
          <li>
            <img
              src="./images/rubyOnRails.svg"
              alt="ruby on rails" />
          </li>
          <li>
            <img
              src="./images/go.svg"
              alt="go" />
          </li>
          <li>
            <img
              src="./images/mongoDB.png"
              alt="mongoDB" />
          </li>
        </ul>
      </div>
    </section>
  </body>
</html>
