@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins&display=swap');

a {
  text-decoration: none;
}

.footer-wrapper {
  display: flex;
  margin: 0 auto;
  font-family: Inter;
  width: 1230px;
  height: 294px;
  padding: 34px 105px 81px;
  padding-left: 0;
}

.footer-section-1 {
  padding-right: 78px;
}

.ljh-footer-logo {
  display: inline-block;
  padding-bottom: 14px;
  line-height: 0;
}

.ljh-footer-logo img {
  width: 123px;
  height: 41px;
}

.section-1-p {
  width: 372px;
  height: 58px;
  color: #718096;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.ljh-footer-google {
  display: inline-block;
  line-height: 0;
  padding-top: 36px;
}

.footer-section-2 {
  padding-right: 87px;
}

.footer-section-2-list b {
  display: block;
  width: 47px;
  height: 22px;
  color: #4a5568;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.09px;
  margin-bottom: 19px;
}

.footer-section-2-list {
  width: 133px;
  height: 252px;
}

.footer-section-2-list a {
  color: #718096;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 236.3%;
}

.footer-section-3-list b {
  display: block;
  width: 96px;
  height: 22px;
  color: #4a5568;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.09px;
  margin-bottom: 24px;
}

.footer-section-3-list p,
a {
  color: #718096;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.footer-section-3-list p {
  width: 306px;
  height: 85px;
  margin-bottom: 20px;
}

.footer-wrapper-img {
  display: flex;
  align-items: end;
  justify-content: end;
  gap: 38px;
}

.facebook-img,
.instagram-img,
.twitter-img,
.linkedin-img {
  display: inline-block;
  width: 34px;
  height: 34px;
  text-align: center;
  line-height: 34px;
  border-radius: 17px;
  background: #fafafa;
  filter: drop-shadow(0px 4px 14px rgba(0, 0, 0, 0.2));
  position: relative;
}
footer .footer-wrapper-img img {
  width: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer-divider {
  width: 100%;
  height: 1px;
  margin-top: 80px;
  background: #cbd5e0;
}

.ljh-footer-small {
  display: block;
  text-align: center;
  color: #4a5568;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 10px;
  letter-spacing: -0.07px;
  padding: 35px 0 42px;
}
