<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/3cf4db8e74.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="./style.css" />
    <title>section - about</title>
  </head>
  <body>
    <section class="about">
      <div class="top half-circle"></div>
      <div class="content-cover">
        <div class="detail-cover">
          <div class="detail">
            <div class="short divider"></div>
            <h2>Leading companies trust us <b>to develop software</b></h2>
            <p>
              we <em>add development capacity</em> to tech teams. Our value
              isn't limited to building teams but is equally distributed across
              the project lifecycle. We are a custom software development
              company that guarantees the successful delivery of your projects.
            </p>
            <a href="/"
              >See more Informations
              <i class="fa-solid fa-arrow-right"></i>
            </a>
            <div class="short divider"></div>
          </div>
          <div class="video">
            <div class="circle-cover">
              <div class="circle-inner">
                <i class="fa-solid fa-play"></i>
              </div>
            </div>
          </div>
        </div>
        <h2 class="bottom">Meet the People <b>We are Working With</b></h2>
        <div class="arrow-cover">
          <i class="fa-solid fa-arrow-left"></i>
          <i class="fa-solid fa-arrow-right"></i>
        </div>
        <div class="bottom half-circle"></div>
      </div>
      <div class="logo-list">
        <img src="/images/rkh/logo-sampath.png" alt="" />
        <img src="/images/rkh/logo-sete.png" alt="" />
        <img src="/images/rkh/logo-adclipse.png" alt="" />
        <img src="/images/rkh/logo-pjc.png" alt="" />
        <img src="/images/rkh/logo-click.png" alt="" />
        <img src="/images/rkh/logo-techmate.png" alt="" />
        <img src="/images/rkh/logo-broakthrough.png" alt="" />
      </div>
    </section>
  </body>
</html>
