<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>team-project</title>
    <link
      href="https://cdn.jsdelivr.net/npm/reset-css@5.0.2/reset.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    <div class="ljh-main">
      <div class="divider"></div>
      <h2 class="ljh-main-h2">Way of building <b>Great Software</b></h2>

      <div class="ljh-wrapper">
        <div class="ljh-section-1">
          <h3 class="ljh-section-h3">Build the right team to scale</h3>
          <p class="ljh-section-p1">
            Finding the right talent is not easy. We help you find the talent
            that suits your needs, follows your processes, and sticks with you
            long term &#40;not the case with freelancers
          </p>
          <p class="ljh-section-p2">
            Our <span>delivery model</span> helps you cut costs and deliver
            within budget.
          </p>
          <p class="ljh-section-p3">
            "Simform is quick to identify larger problem with the Software so we
            decided to expand our scope to build new modules"
          </p>
          <figure class="ljh-ceo-1">
            <img src="/images/ljh/section-1-ceo.jpg" alt="/" />
            <figcaption class="ljh-section-p4">
              Jeewa markram <span>CEO</span>
            </figcaption>
          </figure>
        </div>
        <figure class="ljh-big-1">
          <img src="/images/ljh/section-1-big.png" alt="/" />
        </figure>
        <svg role="img" class="section-1-ball" viewBox="0 0 64 64">
          <use href="./../../images/svg/_sprite.svg#yellow-ball" />
        </svg>
        <svg role="img" class="section-1-ball" viewBox="0 0 31 31">
          <use href="./../../images/svg/_sprite.svg#pink-ball" />
        </svg>
      </div>

      <div class="ljh-wrapper-2">
        <div class="ljh-section-1">
          <h3 class="ljh-section-h3">Build the right team to scale</h3>
          <p class="ljh-section-p1">
            Finding the right talent is not easy. We help you find the talent
            that suits your needs, follows your processes, and sticks with you
            long term &#40;not the case with freelancers
          </p>
          <p class="ljh-section-p2">
            Our <span>delivery model</span> helps you cut costs and deliver
            within budget.
          </p>
          <p class="ljh-section-p3">
            "Simform is quick to identify larger problem with the Software so we
            decided to expand our scope to build new modules"
          </p>
          <figure class="ljh-ceo-1">
            <img src="/images/ljh/section-2-ceo.jpg" alt="/" />
            <figcaption class="ljh-section-p4">
              Jeewa markram <span>CEO</span>
            </figcaption>
          </figure>
        </div>
        <figure class="ljh-big-1">
          <img src="/images/ljh/section-2-big.png" alt="/" />
        </figure>
      </div>

      <div class="ljh-wrapper-3">
        <div class="ljh-section-1">
          <h3 class="ljh-section-h3">Build the right team to scale</h3>
          <p class="ljh-section-p1">
            Finding the right talent is not easy. We help you find the talent
            that suits your needs, follows your processes, and sticks with you
            long term &#40;not the case with freelancers
          </p>
          <p class="ljh-section-p2">
            Our <span>delivery model</span> helps you cut costs and deliver
            within budget.
          </p>
          <p class="ljh-section-p3">
            "Simform is quick to identify larger problem with the Software so we
            decided to expand our scope to build new modules"
          </p>
          <figure class="ljh-ceo-1">
            <img src="/images/ljh/secion-3-ceo.jpg" alt="/" />
            <figcaption class="ljh-section-p4">
              Jeewa markram <span>CEO</span>
            </figcaption>
          </figure>
        </div>
        <figure class="ljh-big-1">
          <img src="/images/ljh/section-3-big.png" alt="/" />
        </figure>
      </div>
    </div>
  </body>
</html>
